*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    
}

.nav_container > a{
    width: 30%;
}
p {
 margin-top: 40px;
}

iframe{
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

